<h1>Welcome</h1>
<p>Some day this will be a real app.</p>

<p>In contemplating the Hello World assignment requirements, specifically "no unnecessary animation", I am, of course,
  reminded of ye olden blink tag. I read a
  <a href="http://www.montulli.org/theoriginofthe%3Cblink%3Etag">very interesting blog post</a> awhile back from the
  accidental inventor of said monstrosity, Lou Montulli. I also discovered that poor blink has been
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink">relegated to the annals of internet
    history</a>, although
  <a href="http://stackoverflow.com/questions/13955163/imitating-a-blink-tag-with-css3-animations">it can be replicated
    with CSS</a>.</p>

<p>I suppose buttons to turn it on and off would be considered an interface element, would they not?</p>

<button id="blink_on">Turn it on</button>
<button id="blink_off">Turn if off</button>

<p id="can_blink">Here is some text that can blink, or not.</p>

<p>In an odd coincidence, just last week I was referred back to Lou Montulli for help on
  <a href="https://github.com/ncri/nested_form_fields/pull/62">a bit of code he contributed</a> to an open-source
  library I wanted to make use of. What a weirdly small place the world sometimes is.</p>